language: node_js
node_js:
- '4.2'
- '5'
- '6'
- '7'
env:
- CXX=g++-4.8
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.8
    - unicode-data
deploy:
  provider: npm
  email: jledentu@gmail.com
  on:
    branch: master
    tags: true
    repo: jledentu/sails-hook-slugs
  api-key:
    secure: XBmb8MNoFm31nOWd8N0GMEnSZT6kas9r81FpnF4v1jGvoIO9yku2WoKo7pop2IIIXD4GLVzCdpOpo+K5+a+UV/O4tVqrlHHD3s0+4+lgRvFlAVpWbwO186Patsof8TSmz2l9jYcN7f9V7s/+msuA/BDAZD2G1MV1khM8603j21oCVjWojpmfmhM7o31UVWMPJP4zt6Li1K/Qdrvk+UToD22ydy2jq/ZM2CCF2FFyKIhIlY5SyXunqpBiXEVFDW/cep5xnJfD6y8gC/kqnM895oUJrFhH3VS/OQ5l0QetPPhxFqC5a+DETKlNucSIemI4c5xFon5wKngEjy47bmxNebJb+Bi5oOflDQDv0sLdmyNVwLXS+XLZmKQ/4c0Aq4Q4uNHbg3bkzfmaRxp6NBtJYxkMR3RrDQy51TtVwbM6EraADKD9mFvo7KkLqTmFqdTBRuIQxMgK9ZQg1yvEtPWO0z0SBG/tIqvXY5cBP8hkeDKD7Nu88DX2uQ56SOEsHnAzC8Yr3ZUuLTjHjhNTeS9cymiYoW3ClLzMBh5u0A2LndCs1AtW7S6mq0c49wLjaKkunmF3KmH3klFvhtqQ+KnlTd8ZZEjKcWLKmZYSoTMCJrXu76+AGaMEx0P5cD6m+Z47cxXygUJpL2S1aDB0UQZQJ5pbLbOYCyUOGmU6kZkX4BQ=
